node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment variables
.env
.env*.local

# Ignore package-lock to avoid conflicts in Snack
package-lock.json
